.App {
  text-align: center;
}
.product{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
img {
  width: 50%;
  height: 50%;
  object-fit:contain;
  border-radius: 1rem;
  margin-bottom: 1rem;
}